:root {--flatblue: #378B89;--gradblue: linear-gradient(to bottom,#378B89, #5FB1AF, #378B89);}* {margin: 0;padding: 0;}
body {font-family: Helvetica, Arial, sans-serif;background-color: #121212;font-size: 16px;}
.blur {backdrop-filter: blur(1em);-webkit-backdrop-filter: blur(1em);-moz-backdrop-filter: blur(1em);}
section {
margin: 0;
padding: 0;
color: #ffffff;
min-height: 100vh;
max-height: 200vh;
overflow-x: hidden;
}
.scrolled {
-webkit-backdrop-filter: grayscale(100%) blur(1em);
-moz-backdrop-filter: grayscale(100%) blur(1em);
backdrop-filter: grayscale(100%) blur(1em);
transition: background-color 200ms linear;
}
img {
filter: grayscale(100%);
max-width: 90vw;
max-height: 60vw;
object-fit: cover;
}
.btn {
color: var(--flatblue);
text-align: center;
align-items: center;
background-color: rgba(0, 0, 0, 0);
border: 0.1em solid var(--flatblue);
border-radius: 0.25em;
width: 10em;
height: 4em;
transition: all 0.3s;
}
.btn:hover {
color: white;
background-color: var(--flatblue);
background-image: var(--gradblue);
transition: all 0.3s;
}
.sq {
border-radius: 0.25em;
width: 75px;
height: 75px;
}
.sq-min {
border-radius: 0.25em;
width: 3em;
height: 3em;
margin-right: 1em;
}
.sq:hover {color: white;}
.txtcol {color: var(--gradblue);}
.navicon {
display: inline-block;
padding: 0.5em 0.5em;
color: #378B89;
}
.navicon:hover {transition: color 0.3s ease;color: white;}

@media only screen and (min-width:991px){

.dropdown-content {
display: none;
position: fixed;
transform: translateX(-0.4em);
background-color: rgba(0, 0, 0, 0);
width: 7em;
z-index: 1;
text-align: left;
}
.dropdown-content a {
color: #378B89; 
font-weight: bold;
font-size: 0.9em;
text-transform: uppercase;
padding: 0.75em 14em;
text-decoration: none;
display: block;
text-align: center;
}
.dropdown-content a:hover {color: white !important; transition: color 0.3s ease;}
.dropdown:hover .dropdown-content, .dropdown-content:hover {
transition: all 0.3s ease;
display: block;
}
}