.servImg{
      border-radius: 1em;
      height: 20em;
      width: 40em;
      object-fit: cover;
}

section {
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      padding: 5em;
      text-align: center;
      align-items: center;
}