body {
      background-color: #121212;
      overflow-x: hidden;
      color: white;
}

.section{
      padding: 1em;
      padding-top: 5em;
}

#founder img{
      max-width: 80%;
      height: auto;
      border-radius: 1em;
}

#team {
      display: flex;
      flex-wrap: wrap;
      padding: 1em;
}


.imgbox {
      position: relative;
      border: 0;
      border-radius: 1em;
      margin: 0.5em;
      width: 350px;
      height: 350px;
}

.image {
      object-fit: cover;
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.imgbox:hover .text {
  opacity: 1;
}

.text {
      backdrop-filter: blur(1em);
      -webkit-backdrop-filter: blur(1em);
      -moz-backdrop-filter: blur(1em);
      width: 100%;
      height: 100%;
  transition: 0.3s ease;
  opacity: 0;
  top: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1em;
}

