button {
    background: #55B;
    outline: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.1s ease;
}
button:hover{
    background: #55E;
}

.article{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius:5px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

body {
    background-color: #eef;
}

#cordis {
    max-width: 1200px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}